<section class="clearfix" id="register-oage">
    <div class="welcome-text">
        <h1>Let's Make Some Characters?</h1>
        <p>Before we start making PCs using this little brainfart, let's first register, hm? :)</p>
        <p>Please fill out the form on the right, it's not that hard I'm sure!.</p>
    </div>
    <div class="welcome-forms">
        {{> registerForm}}
    </div>
</section>

{{> footer}}