<section class="clearfix" id="welcome-section">
    <div class="welcome-text">
        <h1>DnD Extended Custom Character Sheet?</h1>
        <p>Welcome! : D Happy to see you! </p>
        <p>Log in and let's get creating!</p>
    </div>
    <div class="welcome-forms">
        {{> loginForm}}
    </div>
</section>

{{> footer}}